.card--slider--container {
    position: relative;
    padding: 1rem 4rem;
}

.card--slider--container>h2 {
    font-size: 2rem;
    font-family: var(--primary--font);
}

/* SWIPER CLASSES /////////////////////////  */

.swiper-wrapper {
    padding: 1rem;
}

.swiper-button-prev::after {
    color: #fff;
}

.swiper-button-next::after {
    color: #fff;
}

.swiper-scrollbar-drag {
    color: #fff;
}

/* CARD /////////////////////////////  */

.card--container {
    position: relative;
    width: 250px;
    height: 175px;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
    overflow: hidden;
    border: 2px solid var(--secondary--color);
}

.card--container:hover {
    box-shadow: 0 0 15px #fff;
}

.card--container:hover .card--info--container {
    left: 0;
}

.card--container>img {
    width: 250px;
    height: 175px;
    border-radius: 1rem;
    object-fit: cover;
    transition: 0.6s ease-in-out;
}

.card--container:hover img {
    transform: scale(1.1);
}

.card--info--container {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4));
    left: -100%;
    transition: 0.6s ease-in-out;
}

.card--info {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.2rem;
    bottom: 1rem;
    left: 1rem;
}

.card--icons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 10px
}

.card--icons>svg {
    font-size: 1.2rem;
    color: var(--silver);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.card--icons>svg:hover {
    color: #fff;
}

.liked {
    color: var(--secondary--color);
}

/* SLIDER BUTTONS //////////////////////////////////  */

.slider--btn {
    position: absolute;
    top: 5rem;
    bottom: 0;
    margin: auto;
    width: 40px;
    height: 40PX;
    padding: 0.4rem;
    color: #fff;
    z-index: 1000;
    cursor: pointer;
    border-radius: 50%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.right {
    right: 2rem;
}

.left {
    left: 2rem;
}

@media screen and (max-width:1000px) {
    .card--slider--container {
        padding: 1rem 1rem;
    }
}

@media screen and (max-width:640px) {
    .card--slider--container>h2 {
        font-size: 1.5rem;
    }
}