.hero {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero--bgimg {
    min-height: 100vh;
    width: 100%;
    filter: brightness(60%);
}

.hero--info {
    position: absolute;
    left: 8rem;
}

.hero--info>h1 {
    font-family: var(--primary--font);
    font-size: 8rem;
}

.hero--btns--container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.hero--btn {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    border: none !important;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    background: var(--silver);
}

.play--btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.hero--btn:hover {
    background: var(--secondary--color);
    color: #fff;
}