.movie--banner--container {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie--banner--container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.movie--banner--info {
    position: absolute;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    z-index: 100;
    left: 6rem;
    gap: 0.8rem;
    font-size: 1.3rem;
}

.movie--banner--info>h1 {
    font-size: 6rem;
    font-family: var(--secondary--font);
}

.banner-icons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid var(--silver);
    color: 1px solid var(--silver);
    font-size: 1.2rem;
    width: fit-content;
    padding: 0.5rem 2rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.banner-icons:hover {
    color: var(--secondary--color);
}