.my--list--container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.my--list--container>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -100;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    z-index: -1;
}

.my--list--container>h2 {
    font-family: var(--primary--font);
}

.my--list--wrapper {
    max-width: 1240px;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    place-items: center;
}

.saved--movie--container {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px #ffffff;
}

.saved--movie--container>img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}