.nav--container {
    position: fixed;
    z-index: 1000;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    background: rgba(0, 0, 0, .8);
    box-shadow: 0px 2px 15px var(--secondary--color);
}

.nav--links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
}

.nav--links a:hover {
    transition: 0.3s ease-in-out;
    color: var(--secondary--color);
}

.logo {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.logo h3 {
    font-family: var(--primary--font);
    letter-spacing: 2px;
    font-size: 2rem;
}

.logo span {
    font-size: 1.8rem;
    transform: rotate(-15deg);
    color: #00b4d8;
    font-weight: 700;
    font-family: var(--primary--font);
}

.nav--right {
    display: flex;
    align-items: center;
    align-items: center;
    gap: 1rem;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
    padding-right: 1rem;
    border: 1px solid var(--secondary--color);
    border-radius: 10px;
    background: #000;
}

.search>button {
    display: flex;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.5rem;
}

.search>input {
    padding: 0.5rem;
    font-size: 1rem;
    color: #fff;
    background: transparent;
    outline: none;
    border: none;
}

.logout--btn {
    display: flex;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: #fff;
    font-size: 1.8rem;
    transition: 0.3s ease-out;
}

.logout--btn:hover {
    color: var(--secondary--color);
}

.login--btn {
    color: #fff;
    font-size: 1.8rem;
    transition: 0.3s ease-out;
}

.login--btn:hover {
    color: #00b4d8;
}