.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
    padding-right: 1rem;
    border: 1px solid var(--secondary--color);
    border-radius: 10px;
    background: #000;
}

.search-container>button {
    display: flex;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.5rem;
}

.search-container>input {
    padding: 0.5rem;
    font-size: 1rem;
    color: #fff;
    background: transparent;
    outline: none;
    border: none;
}

/* RESULT CONTAINER ///////////////////////////// */

.search--result--container--active {
    position: fixed;
    top: 4.5rem;
    right: 0;
    width: 400px;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
    z-index: 1000;
    border-left: 2px solid var(--secondary--color);
    transition: 0.6s ease-in-out;
    overflow: scroll;
}

.search--result--container--active::-webkit-scrollbar {
    display: none;
}

.search--result--container {
    transform: translateX(100%);
}



.result--card {
    position: relative;
    width: 100%;
    min-height: 175px;
    margin: 0.5rem 0;
    border-radius: 1rem;
    box-shadow: 0 0 10px #ffffff;
    border: 2px solid var(--silver);
    overflow: hidden;
}

.result--card>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    z-index: -100;
}

.result--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    z-index: -100;
}

.result--info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.2rem;
    z-index: 100;
}

.search--result--container>h3 {
    margin-bottom: 0.5rem;
}

.result--icons>svg {
    display: flex;
    font-size: 1.3rem;
    color: var(--silver);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.result--icons>svg:hover {
    color: #fff;
}