.signup--container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url('/src/assets/signupbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    margin-top: 8rem;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    margin-bottom: 2rem;
    gap: 1rem;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    border-radius: 1rem;
    border: 2px solid var(--silver);
}

.form input {
    width: 100%;
    padding: 1rem;
    background: transparent;
    outline: none;
    border: 1px solid var(--secondary--color);
    border-radius: 1rem;
    font-size: 1rem;
    color: #fff;
}

.form input:focus {
    box-shadow: 0 0 10px var(--secondary--color);
}

form input::placeholder {
    color: var(--silver);
}

.signup--header {
    font-size: 2rem;
    font-family: var(--primary--font);
}

.signup--btn {
    width: 100%;
    padding: 1rem;
    color: #111;
    font-size: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    outline: none;
    border: none;
    text-transform: uppercase;
    transition: 0.3s;
}

.signup--btn:hover {
    background-color: var(--secondary--color);
    color: #fff;
}

.signup--container p {
    font-size: 1.2rem;
}

.signup--container a:hover {
    color: var(--secondary--color);
    transition: 0.3s;
}

.signup--error {
    color: var(--secondary--color);
}