/* CARDS SLIDERS ///////////////// */



/* CARD WRAPPER /////////////////// */

.card-slider--wrapper {
    position: relative;
    padding: 2rem 0;
}

.card-slider--wrapper h2 {
    font-size: 2.2em;
    margin: 0 0 2rem 4rem;
}

.slider--action {
    position: absolute;
    top: 10rem;
    width: 50px;
    height: 100%;
    cursor: pointer;
    z-index: 100;
}

.slider--action>svg {
    font-size: 2rem;
}

.left {
    left: 1.5rem;
}

.right {
    right: 1.5rem;
}

.none {
    display: none;
}


/* CARD ////////////////////////// */

.card--wrapper {
    display: flex;
    gap: 1rem;
    width: max-content;
    transform: translateX(0px);
    transition: 0.3s ease-in-out;
    margin-left: 4rem;
}

.card--container {
    max-width: 300px;
    width: 300px;
    height: 100%;
    cursor: pointer;
    position: relative;
}

.card--container>img {
    border-radius: 0.4rem;
    width: 100%;
    z-index: 10;
}

.card--hero {
    position: absolute;
    top: -16vh;
    left: 0;
    z-index: 20;
    width: 300px;
    border-radius: 0.4rem;
    box-shadow: rgba(255, 255, 255, 0.75) 0px 3px 10px;
    background: var(--gray);
    transition: 0.3s;
}

.img--video--container {
    position: relative;
    height: 150px;
    cursor: pointer;
}

.img--video--container>img {
    position: absolute;
    top: 0;
    z-index: 4;
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 0.5rem;
}

.img--video--container>video {
    position: absolute;
    top: 0;
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 0.3rem;
    z-index: 5;
}

.info--container {
    padding: 1rem;
}

.info--container h3 {
    font-size: 1.2rem;
}

.moviedata--icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    font-size: 1.5rem;
}

.controls {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.controls svg {
    color: var(--silver);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}


.controls svg:hover {
    color: var(--secondary--color);
}

.info svg {
    color: var(--silver);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.info svg:hover {
    color: var(--secondary--color);
}

.genres {
    padding: 0.5rem 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.genres li:first-of-type {
    list-style: none;
}